{% extends "base.html" %}


{% block title %}Inicio{% endblock %}



{% block content %}

<div class="cabecera">

    <div class="text-center contenedor-imagen">


        <img src="../static/img/mino.png" class="img-fluid mx-auto" alt="Mi imagen">
        <div class="px-3 boton-encima">
            <h1 class="mensaje_home">Tu equipo en las mejores manos</h1>
            <p class="mensaje_home">Apasionados por la tecnologia, tenemos un equipo de elite.</p>
            <p class="lead">
                <a href="#contacto" class=" boton-encima-home btn btn-lg fw-bold">Contactanos</a>
            </p>
        </div>
    </div>
    <div class="flecha">
        <a href="#inicio">
            <svg xmlns="http://www.w3.org/2000/svg"fill="currentColor"
                class="bi bi-arrow-up-square-fill " viewBox="0 0 16 16">
                <path
                    d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
            </svg>
        </a>
    </div>



    <!--              NUETROS SERVICIOS             -->

    <div class="album py-5  nuestroservisios" id="servicios">
        <div class="container">
            <div class="text-center servisios-titulo">
                <h1>Nuestros Servicios</h1>
            </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">

                        <img src="../static/img/unnamed_1.png" alt="">
                        <div class="card-body">
                            <p class="card-text">Mariquita mariquita, mariquita, mariquita, mariquita mariquita, eres
                                mariquita. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda numquam
                                quas magnam delectus officiis explicabo at earum quod quisquam, tempora dolore aperiam.
                                Ullam sint, maiores enim perferendis laudantium itaque autem.</p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="../static/img/unnamed_2.png" alt="">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste,
                                asperiores eum sunt dolor a dolores dicta inventore reiciendis laborum, odit veniam.
                                Reiciendis deserunt aut ipsa harum totam, porro iste cumque?</p>


                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="../static/img/unnamed_3.png" alt="">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
                                itaque impedit ipsa possimus ut corrupti magni et assumenda illum, odio adipisci facere
                                distinctio eum vero, animi excepturi nobis quis laboriosam!</p>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="../static/img/unnamed_4.png" alt="">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                                asperiores non a, rem nulla voluptatibus minus et voluptate atque fugit repudiandae.
                                Cumque voluptatibus quas fugit beatae amet! Aspernatur, officiis mollitia.</p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="../static/img/unnamed_1.png" alt="">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure facilis
                                magni, minus suscipit optio laborum porro quas quis eligendi magnam animi voluptates
                                dignissimos iusto debitis nam hic totam dolore sint!</p>


                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="../static/img/unnamed_3.png" alt="">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab commodi
                                odio repellendus officiis minima impedit voluptates aut maiores, voluptatum sint enim
                                necessitatibus ratione hic distinctio. Similique atque consectetur eos reiciendis!</p>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


    <!--             SOBRE NOSOTROS           -->

    <section id="sobre-nosotros">
        <div class="container sobre-mi">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/img/unnamed_6.png" class="img-fluid rounded-circle" alt="Mi foto">
                </div>
                <div class="col-md-6">
                    <h2>Sobre nosotros</h2>
                    <p>Soy Jose, un programador. Me apasiona la informatica. <br>Lorem,
                        ipsum dolor sit amet consectetur adipisicing elit. Tenetur delectus distinctio tempora. Dicta
                        rerum cum deleniti assumenda voluptates error alias numquam necessitatibus in,
                        delectus libero, optio iusto non odit provident!</p>
                    <p>Soy Jose, un programador. Me apasiona la informatica. Lorem,
                        ipsum dolor sit amet consectetur adipisicing elit. Tenetur delectus distinctio tempora. Dicta
                        rerum cum deleniti assumenda voluptates error alias numquam necessitatibus in,
                        delectus libero, optio iusto non odit provident!</p>
                </div>
            </div>
        </div>
    </section>
    <!--             CONTACTANOS         -->
    <section id="contacto" class="contacto">
        <div class="container contacto-contenedor">
            <div class="row">
                <div class="col-md-8">
                    <div class="col-md-6 ">
                        <h2>Contáctanos</h2>
                        <p>Escríbenos un mensaje y nos pondremos en contacto contigo lo antes posible.</p>
                        <form>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Pedro"
                                    aria-describedby="nombreHelp">
                            </div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Email</label>
                                <input type="text" class="form-control" id="Email" placeholder="Pedro@gmail.com"
                                    aria-describedby="nombreHelp">
                            </div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Descripcion</label>
                                <textarea class="form-control"
                                    placeholder="Dinos con una breve descripción que necesitas"
                                    id="floatingTextarea"></textarea>

                            </div>
                            <button type="submit" class="btn  ">Enviar</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../static/img/unnamed_7.png" class="img-fluid " alt="Mi foto">
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}