{% extends "base.html" %}


{% block title %}Inicio{% endblock %}



{% block content %}

<div class="cabecera">

    <div class="text-center contenedor-imagen">


        <img src="../static/img/mino.png" class="img-fluid mx-auto" alt="Mi imagen">
        <div class="px-3 boton-encima">
            <h1 class="mensaje_home">Tu equipo en las mejores manos</h1>
            <p class="mensaje_home">Apasionados por la tecnologia, tenemos un equipo de elite.</p>
            <p class="lead">
                <a href="#contacto" class=" boton-encima-home btn btn-lg fw-bold">Contactanos</a>
            </p>
        </div>
    </div>
    <div class="flecha">
        <a href="#inicio">
            <svg xmlns="http://www.w3.org/2000/svg"fill="currentColor"
                class="bi bi-arrow-up-square-fill " viewBox="0 0 16 16">
                <path
                    d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
            </svg>
        </a>
    </div>



    <!--              NUETROS SERVICIOS             -->

    <div class="album py-5  nuestroservisios" id="servicios">
        <div class="container">
            <div class="text-center servisios-titulo">
                <h1>Impulsamos tu Éxito Tecnológico</h1>
            </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">

                        <img src="../static/img/unnamed_1.png" alt="">
                        <div class="card-body">
                            <p class="card-text">Desarrollo de software a medida para tus necesidades específicas. Transformamos tus ideas en soluciones digitales innovadoras y eficientes.</p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="../static/img/unnamed_2.png" alt="">
                        <div class="card-body">
                            <p class="card-text">Consultoría IT estratégica para optimizar tus procesos y maximizar tu inversión en tecnología. Te ayudamos a tomar decisiones informadas y a alcanzar tus objetivos de negocio.</p>


                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="../static/img/unnamed_3.png" alt="">
                        <div class="card-body">
                            <p class="card-text">Mantenimiento y soporte técnico especializado para garantizar el rendimiento y la seguridad de tus sistemas. Nos encargamos de que tu tecnología funcione sin problemas para que tú puedas concentrarte en tu negocio.</p>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="../static/img/unnamed_4.png" alt="">
                        <div class="card-body">
                            <p class="card-text">Soluciones de cloud computing para que puedas acceder a tus datos y aplicaciones desde cualquier lugar y en cualquier momento. Flexibilidad, escalabilidad y seguridad para tu negocio en la nube.</p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="../static/img/unnamed_1.png" alt="">
                        <div class="card-body">
                            <p class="card-text">Diseño y desarrollo de páginas web atractivas y funcionales para que puedas conectar con tus clientes y promocionar tu marca en internet. Creamos experiencias online que generan resultados.</p>


                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="../static/img/unnamed_3.png" alt="">
                        <div class="card-body">
                            <p class="card-text">Ciberseguridad integral para proteger tus datos y sistemas de amenazas online. Implementamos medidas de seguridad avanzadas para que puedas estar tranquilo y seguro en el mundo digital.</p>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


    <!--             SOBRE NOSOTROS           -->

    <section id="sobre-nosotros">
        <div class="container sobre-mi">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/img/unnamed_6.png" class="img-fluid rounded-circle" alt="Nuestro equipo">
                </div>
                <div class="col-md-6">
                    <h2>Nuestro Compromiso</h2>
                    <p>Somos un equipo de profesionales apasionados por la tecnología, comprometidos con ofrecer soluciones innovadoras y de alta calidad a nuestros clientes. Nos esforzamos por entender tus necesidades y superar tus expectativas.</p>
                    <p>Creemos en el poder de la tecnología para transformar el mundo y mejorar la vida de las personas. Por eso, trabajamos con pasión y dedicación para ayudarte a alcanzar tus metas y a construir un futuro mejor.</p>
                </div>
            </div>
        </div>
    </section>
    <!--             CONTACTANOS         -->
    <section id="contacto" class="contacto">
        <div class="container contacto-contenedor">
            <div class="row">
                <div class="col-md-8">
                    <div class="col-md-6 ">
                        <h2>Contáctanos</h2>
                        <p>Escríbenos un mensaje y nos pondremos en contacto contigo lo antes posible.</p>
                        <form>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Pedro"
                                    aria-describedby="nombreHelp">
                            </div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Email</label>
                                <input type="text" class="form-control" id="Email" placeholder="Pedro@gmail.com"
                                    aria-describedby="nombreHelp">
                            </div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Descripcion</label>
                                <textarea class="form-control"
                                    placeholder="Dinos con una breve descripción que necesitas"
                                    id="floatingTextarea"></textarea>

                            </div>
                            <button type="submit" class="btn  ">Enviar</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../static/img/unnamed_7.png" class="img-fluid " alt="Mi foto">
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}